/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button{
    font-family: Arial, sans-serif;
}

html, 
body{
    height: 100%;
}

/*header*/
.cabecalho{
    display: flex;
    background-color: #d5d0f2;
}

.titulo{
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    padding: 50px;
}

.menu_icon{
    width: 270px;
    height: 200px;
    margin-bottom: none;
    display: inline-block;
    padding-top: 30px;
    padding-right: 30px;
}

nav{
    padding-top:30px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    padding: 3px;
}

nav li{
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
}

.appsiga{
    width:25px; 
    height:25px;
    border-radius: 10px;
}

.logo_insta{
    width:25px; 
    height:25px;
    border-radius:10px;
}

.linkedin_logo{
    width:25px;
    height:25px;
    border-radius:10px;  
}

/* form */
fieldset {
   text-align: center;
   width: 100%;
   margin-top: 15px;  
}

.form {
    text-align: center;
    width: 500px;
    margin: auto;
    position: relative;
}

input:hover{
    background-color: #f2c791;
}

input,
label,
select,
matricula{
  text-align: center;
}

.fundo-ufmg{
   position: absolute;
    background: no-repeat 100% 100%;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.minha_ufmg{
    width:150px;
    height:150px;
    border-radius:15px;
    margin-bottom: 10px;
}

.divform p{ 
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: #2e3559;
}

#matricula{
  font-family: Helvetica, sans-serif;
}

.divform label{
  margin: 5px 0 0 5px;
  font-size: 20px;
  color: #2e3559;
}

.divform input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 9px 0 0 9px;
}


.divcampo label {
  font-size: 20px;
  color: #2e3559;
}

.divcampo input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 9px 0 0 9px;
}

.divorigem label{
    font-size: 20px;
    color: #2e3559;
}

.divorigem select{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    margin: 9px 0 0 9px;
}


.botao{
      width: 100px;
      height: 35px;
      border-radius: 5px;
      margin: 9px 0 0 10px;
      color:#2e3559;
      background-color: #7386bf;
      font-size: 20px;
}

.ultimadiv p{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #2e3559;
  margin: 9px 0 9px 0;
}

.ultimadiv a{
    text-transform: uppercase;
    color: #000000;
    font-size: 17px;
}


/*footer*/
footer{
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #d5d0f2;
  padding: 50px 0;
  box-sizing: border-box;
}

footer p{
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
}

footer div a{
    text-transform: uppercase;
    color: #000000;
    font-size: 17px;
    display: block;
    margin: 20px 0;
}

.logo_redondo{
  background: url(imagens/logo_redondo_ufmg.png);
  background-size: cover;
  position: absolute;
  right:10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}
