@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: 'Arimo', sans-serif;
}

html,
body {
    height: 100%;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .logo--header {
        background: url(../imagens/logo-header.svg);
        width: 93px;
        height: 27px;
    }

    .navbar {
        display: flex;
        align-items: center;

        .icons--header {
            img {
                width: 24px;
                height: 24px;
                filter: invert(15%) sepia(36%) saturate(7080%) hue-rotate(334deg) brightness(91%) contrast(105%);
                margin-right: 10px;
            }
        }

    }
}

.explore-courses {
    width: 100%;
    height: 100vh;
    background: url(../imagens/image-lmu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
        background: rgba(0, 0, 0, 0.157);
        position: absolute;
        left: 0;
        right: 0;
        top: 58px;
        bottom: 0;
        content: '';
    }

    .color--side {
        position: relative;
        z-index: 1;
        top: 50px;

        h1 {
            color: #fff;
            font-size: 46px;
            font-weight: 800;
            margin-left: 40px;
            padding-top: 50px;
        }

        &::before {
            background-color: #AB0C2F;
            position: absolute;
            content: '';
            z-index: -1;
            margin-top: 10px;
            width: 65px;
            height: 130px;
        }
    }

    .buttons--request {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 80px;

        button {
            padding: 10px;
            background: rgba(0, 0, 0, 0.60);
            border: 0.0625rem solid #fff;
        }
        p {
            font-size: 0.9rem;
            font-weight: 700;
            color: #fff;
        }
    }
}